.item {
  .item-header {
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
  }
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: 0px;
  }
  padding:10px 0;
  .details {
    margin-top: 20px;
    margin-left: 20px;
    ul {
      list-style-type: disc;
      li {
        margin-bottom: 5px;
      }
    }
  }
}