<div>
  <div class="row whiteframe-2dp bg-white">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d743.1136561370059!2d73.97283165325983!3d15.18040316816936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbe4cdc65751105%3A0x8a3d205bc8794474!2sSantwaddo%2C+Assolna%2C+Goa+403701!5e0!3m2!1sen!2sin!4v1479877759105"
      height="450" frameborder="0" style="border:0" style="width:100%" allowfullscreen></iframe>
  </div>
  <div style="margin-bottom:10px"></div>
  <div class="row whiteframe-2dp bg-white card">
    <div class="col-md-1">
      <i class="fa fa-paper-plane-o fa-2x"></i>
    </div>
    <div class="col-md-11">
      <h3 class="card-header">Contact</h3>
      <form class="form">
        <div class="item">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" required>
        </div>
        <div class="item">
          <label for="name">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <div class="item">
          <label for="name">Purpose</label>
          <textarea class="form-control" id="purpose" placeholder="Purpose" required></textarea>
        </div>

      </form>
    </div>
  </div>
</div>